<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhSM5t8BHdsDtiDwboBPfZ_d0Jb5frNKU</string>
	<key>GCM_SENDER_ID</key>
	<string>735992574460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pingdaksh.LivePoll</string>
	<key>PROJECT_ID</key>
	<string>livepoll-39742</string>
	<key>STORAGE_BUCKET</key>
	<string>livepoll-39742.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735992574460:ios:1f22b59da9eb63949bc279</string>
</dict>
</plist>